{% extends 'layout1.html' %}



      {% block meta %}   
            <title>Password Change Done</title>
            <meta name="description" content="" />
            <meta name="keywords" content="" />
            <meta name="author" content="." />
      {% endblock meta %}



      {% block body %}
         <div class="home-center"> 
            <div class="container">
               
               <div class="row justify-content-center">    
                  <div class="col-sm-9 offset-sm-1 text-center mt-5">
                     <h3>Password Changed Successfully !!</h3>
                     <div class="mt-5 mb-5"><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
                  </div>
                  <div class="row mt-5">
                     
                    <div class="buy-button">
                    <a href="{% url 'profile' %}" class="btn btn-info"><i class="mdi mdi-account mr-2"></i>Profile</a>
                </div><!-- End Login Button -->  

                  </div>
               </div>

            </div> 
        </div>

      {% endblock %}            



                     {% comment %} <div class="col-sm-2 border-end">
                        <ul class="list-unstyled">
                        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Password  Change Done</a></li>
                        </ul>
                     </div>
                     <div class="col-sm-9 offset-sm-1 text-center">
                        <h3>Password Changed Successfully !!</h3>
                        <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
                     </div>
                     </div>
                  </div>
         {% endcomment %}

      

