{% extends 'layout1.html' %}
{% load static %}

        {% block meta %}
            <title>Register</title>
            <meta name="description" content="" />
            <meta name="keywords" content="" />
            <meta name="author" content="." />
        {% endblock meta %}      
    
          {% block body %}
                <div class="home-center">
                    <div class="home-desc-center">
                        <div class="container mt-5 mb-5">
                            
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="login_page bg-white shadow rounded p-4">
                                        <div class="text-center">
                                            <h4 class="mb-4">Signup To Career Portal</h4>  
                                        </div>
                                        <form class="login-form" method='POST' novalidate>
                                        {% csrf_token %}
                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group position-relative">                                               
                                                        <label>First name <span class="text-danger">*</span></label>
                                                        {{form.first_name}}
                                                    </div>
                                                    {% if form.first_name.errors %}
                                                        {% for error in form.first_name.errors %}
                                                            <div class="alert alert-danger">
                                                                <strong>{{error|escape}}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group position-relative">                                                
                                                        <label>Last name <span class="text-danger">*</span></label>
                                                    {{form.last_name}}
                                                    </div>
                                                    {% if form.last_name.errors %}
                                                        {% for error in form.last_name.errors %}
                                                            <div class="alert alert-danger">
                                                                <strong>{{error|escape}}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Your Email <span class="text-danger">*</span></label>
                                                    {{form.email}}
                                                    </div>
                                                    {% if form.email.errors %}
                                                        {% for error in form.email.errors %}
                                                            <div class="alert alert-danger">
                                                                <strong>{{error|escape}}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Username <span class="text-danger">*</span></label>
                                                    {{form.username}}
                                                    </div>
                                                    {% if form.username.errors %}
                                                        {% for error in form.username.errors %}
                                                            <div class="alert alert-danger">
                                                                <strong>{{error|escape}}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Password <span class="text-danger">*</span></label>
                                                        {{form.password1}}
                                                    </div>
                                                    {% if form.password1.errors %}
                                                        {% for error in form.password1.errors %}
                                                            <div class="alert alert-danger">
                                                                <strong>{{error|escape}}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Confirm Password <span class="text-danger">*</span></label>
                                                        {{form.password2}}
                                                    </div>
                                                    {% if form.password2.errors %}
                                                        {% for error in form.password2.errors %}
                                                            <div class="alert alert-danger">
                                                                <strong>{{error|escape}}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                            <div class="custom-control">
                                                                {{form.check}}
                                                                <label>I Accept <a href="#" class="text-primary">Terms And Condition</a></label>
                                                            </div>
                                                            {% if form.check.errors %}
                                                            {% for error in form.check.errors %}
                                                                <div class="alert alert-danger">
                                                                    <strong>{{error|escape}}</strong>
                                                                </div>
                                                            {% endfor %}
                                                            {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary w-100" type="submit">Register</button>
                                                </div>
                                                
                                                <div class="mx-auto">
                                                    <p class="mb-0 mt-3"><small class="text-dark mr-2">Already have an account ?</small> <a href="{% url 'login' %}" class="text-dark font-weight-bold">Sign in</a></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!--end col-->
                            </div><!--end row-->
                        </div> <!--end container-->
                    </div>
                </div>
          {% endblock body %} 
        </section><!--end section-->
        <!-- Hero End -->
