{% extends 'layout2.html' %}


{% block meta %}
<title>Resume | {{object.user.username}}</title>
<meta name="description" content="Work Remotely Resume |  {{object.user.first_name}}  {{object.user.last_name}} ">
<meta name="keywords" content="">
<meta name="keywords" content="Work Remotely">
{% endblock meta %}
	

{% block body %}
  <section class="bg-half page-next-level">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
          <div class="col-md-6 ">

            <div class="candidates-profile-details text-center">
              <img src="{{object.image.url}}" height="150" alt="{{object.user.first_name}}  {{object.user.last_name}}" class="d=block mx-auto shadow rounded-pill mb-4">
              <h5 class="text-black mb-2">{{object.user.first_name}}  {{object.user.last_name}}</h5>
              <p class="text-black-50 h6 mb-2">{{object.user.username}} | {{object.user.email}}</p>

              <ul class="list-unstyled social-icon social mb-0">
                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
              </ul>
            </div>
          </div>             

      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">   
      <div class="row">

          <div class="col-lg-6 col-md-6 mt-4 pt-5">
            <div class="component-wrapper rounded shadow">
                <div class="p-4 border-bottom bg-light">
                  
                  {% if object %}
                    <table class="table table-striped">            
                    <tbody>
                      <tr>                  
                        <td><h4 class="title mb-0">General Information</h4></td>
                        <td><strong> <a href="#" class="rounded"><i class="fas fa-edit"></strong></td>
                        <td><strong> <a href="#" class="rounded"><i class="fas fa-trash-alt"></strong></td>
                      </tr>              
                    </tbody>
                    </table>                     
                  {% endif %}
                </div>

                <div class="p-4">
                  <table class="table table-striped">

                    <tbody>
                      <tr>
                        <td><strong>Date of Birth</strong></td>
                        <td>{{object.date_birth}}</td>
                      </tr>
                      <tr>
                        <td><strong>Ethnicity</strong></td>
                        <td>{{object.ethnicity}}</td>
                      </tr>
                      <tr>
                        <td><strong>Gender</strong></td>
                        <td>{{object.sex}}</td>
                      </tr>
                      <tr>
                        <td><strong>Marital Status</strong></td>
                        <td>{{object.marital_status}}</td>
                      </tr>
                      <tr>
                        <td><strong>Last Update</strong></td>
                        <td>{{object.last_updated}}</td>
                      </tr>
                      <tr>
                        <td><strong>Download Coverletter</strong></td>
                        <td><button class="btn btn-primary rounded-pill">Download</button></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>

            </div>

          </div>

          <div class="col-lg-6 col-md-6 mt-4 pt-5">

            <div class="component-wrapper rounded shadow">
              <div class="p-4 border-bottom bg-light">
                {% if object %}
                    <table class="table table-striped">            
                    <tbody>
                      <tr>                  
                        <td><h4 class="title mb-0">Personal Information</h4></td>
                        <td><strong> <a href="#" class="rounded"><i class="fas fa-edit"></strong></td>
                        <td><strong> <a href="#" class="rounded"><i class="fas fa-trash-alt"></strong></td>
                      </tr>              
                    </tbody>
                    </table>                     
                  {% endif %}
              </div>

              <div class="p-4">
                <table class="table table-striped">

                  <tbody>
                    <tr>
                      <td><strong>Address Line 1</strong></td>
                      <td>{{object.addressLine1}}</td>
                    </tr>
                    <tr>
                      <td><strong>Suburb</strong></td>
                      <td>{{object.suburb}}</td>
                    </tr>
                    <tr>
                      <td><strong>City</strong></td>
                      <td>{{object.city}}</td>
                    </tr>
                    <tr>
                      <td><strong>Province</strong></td>
                      <td>{{object.province}}</td>
                    </tr>
                    <tr>
                      <td><strong>Download CV</strong></td>
                      <td><button class="btn btn-primary rounded-pill" >Download</button></td>
                    </tr>
                    
                  </tbody>
                </table>

              </div>
            </div>
          </div>

       
      </div> 

 
      <div class="row">
        <div class="col-lg-12 mt-4 pt-2">
          <h4 class="text-dark">Education : <button type="button" class="btn btn-secondary-outline" data-toggle="modal" data-target="#addEducation"><span class="mdi mdi-plus mdi-24px"></span>Add Education</button></h4>
        </div>

        {% if educations %}

            {% for education in educations %}
              <div class="col-lg-12 mt-4 pt-2">
                
                <div class="component-wrapper rounded shadow">
                  <div class="p-4 border-bottom bg-light">
                    
                    {% if education %}
                      <table class="table table-striped">            
                      <tbody>
                        <tr>                  
                          <td><h4 class="title mb-0">{{education.institution}}</h4></td>
                          <td><strong> <a href="#" class="rounded"><i class="fas fa-edit"></strong></td>
                          <td><strong> <a href="#" class="rounded"><i class="fas fa-trash-alt"></strong></td>
                          

                        </tr>              
                      </tbody>
                      </table>                     
                  {% endif %}
                  </div>

                  <div class="p-4">
                    <table class="table table-striped">
                      <tbody> 
                        <tr>                                      
                          <td><strong>Qualification : </strong></td>
                          <td>{{education.qualification}}</td>
                        </tr>
                        
                        <tr> 
                          <td><strong>Level of Qualification : </strong></td>
                          <td>{{education.level}}</td>
                        </tr>
                        
                        <tr> 
                          <td><strong>Start Date : </strong></td>
                          <td>{{education.start_date}}</td>
                        </tr>
                        <tr> 
                          <td><strong>Date Graduated : </strong></td>
                          <td>{{education.graduated}}</td>
                        </tr>
                        
                        <tr> 
                          <td><strong>Major Subjects :</strong></td>
                          <td>{{education.major_subject}}</td>
                        </tr>

                        <tr> 
                          <td><button class="btn btn-danger">Delete Qualification</button></td>
                        </tr>
                           

                      </tbody>
                    </table>

                  </div>
                </div>

              </div>
            {% endfor %}

        {% endif %}

      </div>




         <!-- Modal -->
      <div class="modal fade" id="addEducation" tabindex="-1" role="dialog" aria-labelledby="addEducationLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
          <div class="modal-content">

            

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Education Record</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>


              <div class="modal-body">
                    <!--Modal Body Starts Here-->
                    <div class="row">

                        <div class="col-lg-12">
                          <div class="form-group position-relative">
                            <label> Institution <span class="text-danger">*</span></label>
                            {{edu_form.institution}}
                          </div>

                          {% if edu_form.institution.errors %}
                            {% for error in edu_form.institution.errors %}
                              <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group position-relative">
                            <label> Qualification Received <span class="text-danger">*</span></label>
                            {{edu_form.qualification}}
                          </div>
                          {% if edu_form.qualification.errors %}
                            {% for error in edu_form.qualification.errors %}
                              <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group position-relative">
                            <label> Level of Qualification <span class="text-danger">*</span></label>
                            {{edu_form.level}}
                          </div>
                          {% if edu_form.level.errors %}
                            {% for error in edu_form.level.errors %}
                              <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group position-relative">
                            <label> Start Date <span class="text-danger">*</span></label>
                            {{edu_form.start_date}}
                          </div>
                          {% if edu_form.start_date.errors %}
                            {% for error in edu_form.start_date.errors %}
                              <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group position-relative">
                            <label> Date Graduated <span class="text-danger">*</span></label>
                            {{edu_form.graduated}}
                          </div>
                          {% if edu_form.graduated.errors %}
                            {% for error in edu_form.graduated.errors %}
                              <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group position-relative">
                            <label> Major Subjects <span class="text-danger">*</span></label>
                            {{edu_form.major_subject}}
                          </div>
                          {% if edu_form.major_subject.errors %}
                            {% for error in edu_form.major_subject.errors %}
                              <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>

                      </div>
                      <!-- Modal Body Ends Here -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>


            </form>
          </div> 
       </div>

       <div class="col-lg-6 col-md-6 mt-4 pt-5">

          

       </div>

       <div class="component-wrapper rounded shadow">
            <div class="p-4 border-bottom bg-light">
              <h4 class="text-dark">Experience : <button type="button" class="btn btn-secondary-outline" data-toggle="modal" data-target="#addExperience"><span class="mdi mdi-plus mdi-24px"></span>Add Experience</button></h4>
            </div>
            {% if experiences %}

            {% for experience in experiences %}
              <div class="col-lg-12 mt-4 pt-2">
                
                <div class="component-wrapper rounded shadow">
                  <div class="p-4 border-bottom bg-light">
                   
                    {% if object %}
                      <table class="table table-striped">            
                      <tbody>
                        <tr>                  
                          <td> <h4 class="title mb-0">{{experience.company}}</h4></td>
                          <td><strong> <a href="#" class="rounded"><i class="fas fa-edit"></strong></td>
                          <td><strong> <a href="#" class="rounded"><i class="fas fa-trash-alt"></strong></td>
                        </tr>              
                      </tbody>
                      </table>                     
                  {% endif %}
                  </div>

                  <div class="p-4">
                    <table class="table table-striped">
                      <tbody> 
                        <tr>                                      
                          <td><strong>Company : </strong></td>
                          <td>{{experience.company}}</td>
                        </tr>
                        
                        <tr> 
                          <td><strong>Position : </strong></td>
                          <td>{{experience.position}}</td>
                        </tr>
                        
                        <tr> 
                          <td><strong>Start Date : </strong></td>
                          <td>{{experience.start_date}}</td>
                        </tr>
                        <tr> 
                          <td><strong>End Date : </strong></td>
                          <td>{{experience.end_date}}</td>
                        </tr>

                        <tr> 
                          <td><strong>Skills :</strong></td>
                          <td>{{experience.skills}}</td>
                        </tr>

                        <tr> 
                          <td><button class="btn btn-danger">Delete Qualification</button></td>
                        </tr>
                           

                      </tbody>
                    </table>

                  </div>
                </div>

              </div>
            {% endfor %}

        {% endif %}

        </div>
      </div>

         <!-- Modal -->
        <div class="modal fade" id="addExperience" tabindex="-1" role="dialog" aria-labelledby="addExperienceLabel" aria-hidden="true">

          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <form class="" action="" method="POST">
                {% csrf_token %}

                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add New Experience Record</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <div class="modal-body">
                      <!--Modal Body Starts Here-->
                      <div class="row">

                          <div class="col-lg-12">
                            <div class="form-group position-relative">
                              <label> Company <span class="text-danger">*</span></label>
                              {{exp_form.company}}
                            </div>

                            {% if exp_form.company.errors %}
                              {% for error in exp_form.company.errors %}
                                <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                              {% endfor %}
                            {% endif %}
                          </div>

                          <div class="col-lg-12">
                            <div class="form-group position-relative">
                              <label> Position <span class="text-danger">*</span></label>
                              {{exp_form.position}}
                            </div>
                            {% if exp_form.position.errors %}
                              {% for error in exp_form.position.errors %}
                                <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                              {% endfor %}
                            {% endif %}
                          </div>

                          <div class="col-lg-12">
                            <div class="form-group position-relative">
                              <label> Start Date <span class="text-danger">*</span></label>
                              {{exp_form.start_date}}
                            </div>
                            {% if exp_form.start_date.errors %}
                              {% for error in exp_form.start_date.errors %}
                                <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                              {% endfor %}
                            {% endif %}
                          </div>

                          <div class="col-lg-12">
                            <div class="form-group position-relative">
                              <label> End Date <span class="text-danger">*</span></label>
                              {{exp_form.end_date}}
                            </div>
                            {% if exp_form.end_date.errors %}
                              {% for error in exp_form.end_date.errors %}
                                <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                              {% endfor %}
                            {% endif %}
                          </div>
                          
                          {% comment %} <div class="col-lg-12">
                            <div class="form-group position-relative">
                              <label> Experience <span class="text-danger">*</span></label>
                              {{exp_form.experience}}
                            </div>
                            {% if exp_form.experience.errors %}
                              {% for error in exp_form.experience.errors %}
                                <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                              {% endfor %}
                            {% endif %}
                          </div> {% endcomment %}
                          
                          <div class="col-lg-12">
                            <div class="form-group position-relative">
                              <label> Skills <span class="text-danger">*</span></label>
                              {{exp_form.skills}}
                            </div>
                            {% if exp_form.skills.errors %}
                              {% for error in exp_form.skills.errors %}
                                <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                              {% endfor %}
                            {% endif %}
                          </div> 

                        </div>
                        <!-- Modal Body Ends Here -->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>

                    </div>
                 </div>

              </form>
            </div> 
         </div>
        </div?

    </div>

  </section>

{% endblock body %} 