<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block meta %}
        
        {% endblock meta %}
    
       
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/materialdesignicons.min.css' %}" />
    
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/selectize.css' %}" />
    
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/nice-select.css' %}" />
    
        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />

    </head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->
        
        <div class="back-to-home rounded d-none d-sm-block">
            <a href="/" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
        </div>

        <!-- Hero Start -->
        <section class="vh-10" style="background:url('/static/app/images/loginbg.jpg')   center center;">

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">
        {{message}}
        </div>
        {% else %}
        <div class="alert alert-{{message.tags}}">
        {{message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}



        {% block body %}
          
        {% endblock body %}  
        <!-- Footer Start Here -->
        <footer  class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <a href="javascript:void(0)"><img src="{% static 'app/images/logo.png' %}" height="40" alt=" Remote Career Portal"></a>
                        <p class="mt-4">Remote Career Portal is leading job search engine, search for and apply for thousands of jobs online - right here on  remote Career Portal. Save your career information, let companies find you without a hassle.</p>
                        <ul class="social-icon social list-inline mb-0">
                            <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-12">
                        <p class="text-white mb-4 footer-list-title">Company</p>
                        <ul class="list-unstyled footer-list">
                            <li><a href="{% url 'about' %}" class="text-foot"><i class="mdi mdi-chevron-light"></i>About Us</a></li>
                            <li><a href="{% url 'blog_home' %}" class="text-foot"><i class="mdi mdi-chevron-light"></i>Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-12">
                        <p class="text-white mb-4 footer-list-title">Resources</p>
                        <ul class="list-unstyled footer-list">
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-light"></i>Support</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-light"></i>Privacy Policy</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-light"></i>Terms and Conditions</a></li>
                            <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-light"></i>F.A.Q.</a></li>
                        </ul>
                    </div>

                </div>
            </div>   
        </footer>
        <!-- Footer End Here -->        
        </section>
        
        <!-- Hero End -->

        <!-- javascript -->
        <script src="{% static 'app/js/jquery.min.js' %}"></script>
        <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'app/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'app/js/plugins.js' %}"></script>

        <!-- selectize js -->
        <script src="{% static 'app/js/selectize.min.js' %}"></script>

        <script src="{% static 'app/js/jquery.nice-select.min.js' %}"></script>

        <script src="{% static 'app/js/app.js' %}"></script>
    </body>
</html>